/node_modules/
/lib/
/test/
/build/
custom-elements.json
# top level source
my-element.js
my-element.js.map
my-element.d.ts
my-element.d.ts.map
# only generated for size check
my-element.bundled.js

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local